.transition {
  width: 100%;
  height: 100px;
  background-color: rgb(69, 123, 184);
  transition: background-color 1s;
}

.transitione {
  width: 100%;
  height: 100px;
  transition: background-color 1s;
  background-color: red; 
}